name: CI/CD & Publish to DockerHub
on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:

jobs:
  # Первый job — проверка кода и тесты
  test:
    name: Lint & Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: false

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests
        run: go test -v ./...

  # Второй job — публикация Docker образа
  publish:
    name: Publish Docker image to DockerHub (on tag)
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        env:
          IMAGE: ptatarkina/docker-ci-cd-sprint-12
          VERSION: ${{ github.ref_name }}
        run: |
          docker build -t "$IMAGE:$VERSION" -t "$IMAGE:latest" .

      - name: Push Docker image
        env:
          IMAGE: ptatarkina/docker-ci-cd-sprint-12
          VERSION: ${{ github.ref_name }}
        run: |
          docker push "$IMAGE:$VERSION"
          docker push "$IMAGE:latest"
