name: CI  Publish to DockerHub

on:
  push:
    branches: [ master ]
    tags: ['v*']
  pull_request:

jobs:
  test:
    name: Lint & Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: 1.22
          go-version-file: go.mod

      - run: go vet ./...
      - run: go test ./... -v

  publish:
    name: Publish Docker image to DockerHub (on tag)
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        env:
          IMAGE: polina-tatarkina/docker-CI-CD-sprint-12
          VERSION: ${{ github.ref_name }}
        run: |
          docker build -t "$IMAGE:$VERSION" -t "$IMAGE:latest" .

      - name: Push Docker image
        env:
          IMAGE: polina-tatarkina/docker-CI-CD-sprint-12
          VERSION: ${{ github.ref_name }}
        run: |
          docker push "$IMAGE:$VERSION"
          docker push "$IMAGE:latest"
